<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resta los Numeros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

      <ion-input type="number" min="1"  [(ngModel)]="num1" placeholder="Introduce un numero">
      </ion-input>
      <ion-input type="number" min="1" [(ngModel)]="num2" placeholder="Introduce un numero">
      </ion-input>

      <ion-card>
        <ion-card-content *ngIf="numR != null">
          La Resta es {{ numR }}
        </ion-card-content>
      </ion-card>

      <ion-button class="boton" (click)="resta()">Restar</ion-button>
        <ion-button *ngIf="numR != null" expand="block" (click)="reinicia()">Volver a jugar</ion-button>

  </div>
</ion-content>